:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-bgc-color: #f5f4fa;
  --header-bgc-color: #2f303a;
  --team-bgc-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --content-border-color: #eeeeee;
  --features-icon-background: #f5f4fa;
  --features-icon-color: #212121;
  --footer-icon-background: #43444d;
  --team-icon-color: #afb1b8;
  --client-border-color: #afb1b8;
  --client-logo-color: #afb1b8;
  --logo-primary-color: #000000;
  --overflow-bgc-color: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --work-overlay-bgc-color: rgba(47, 48, 58, 0.8);
  --modal-title-color: #212121;
  --modal-icon-input-color: #212121;
  --modal-text-color: #757575;
  --modal-comment-placeholder: rgba(117, 117, 117, 0.5);
  --modal-policy-link: #2196f3;
  --modal-button-submit-color: #ffffff;
  --modal-checkbox-border-color: #212121;
  --main-font: Roboto, sans-serif;
  --second-font: Raleway, sans-serif;
  --gap: 30px;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  display: inline-block;
  padding-left: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}

.container {
  min-width: 200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.hero .container {
  width: 360px;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero .container {
    width: 696px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.hero {
  padding: 0;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.container--flex {
  display: flex;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo__primary {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-primary-color);
}

.logo__secondary {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.logo_container .logo {
  padding: 0;
  margin-bottom: 20px;
}

.nav {
  margin-left: 93px;
}

.nav__list {
  display: flex;
}

.nav__list .nav__item + .nav__item {
  margin-left: 50px;
  flex-basis: calc(100% /  - );
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--curent {
  color: var(--accent-color);
}

.nav__link--curent::after {
  content: ' ';
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact .contact__item + .contact__item {
  margin-left: 50px;
  flex-basis: calc(100% /  - );
}

.contact__item {
  display: flex;
  align-items: center;
}

.contact__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background-mob@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--header-bgc-color);
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background-tablet@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background-desktop@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/background-desktop@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 32px;
  background-color: var(--accent-color);
  border-style: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .features__list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    width: 1200px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 0;
  }
}

.features__caption {
  margin-bottom: 10px;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features__caption {
    text-align: left;
  }
}

.features__text {
  line-height: 1.71;
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  color: var(--features-icon-color);
  background-color: var(--features-icon-background);
}

@media screen and (min-widht: 480px) {
  .features__box {
    width: 450px;
  }
}

@media screen and (min-widht: 768px) {
  .features__box {
    width: 354px;
  }
}

@media screen and (min-widht: 1200px) {
  .features__box {
    width: 270px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.work__title {
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-top: 0;
  }
}

.work__list {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
}

.work__item {
  position: relative;
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.overlay__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: var(--work-overlay-bgc-color);
}

.overlay__text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.team {
  background-color: var(--team-bgc-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team-box__caption {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-box__text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team__list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    width: 1200px;
    margin-bottom: 0;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .team__pictures {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team__pictures {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__pictures {
    width: 270px;
    height: 260px;
  }
}

.team-box {
  background-color: var(--primary-white-color);
  padding: 30px 32px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team-icon__list {
  display: flex;
  margin-left: -10px;
}

.team-icon__item {
  margin-left: 10px;
  flex-basis: calc((100% - 30px) / 4);
}

.team-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--team-icon-color);
  transition-property: color, background-color, border-radius;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.team-icon__link:hover, .team-icon__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.team-icon__icon {
  width: 22px;
  height: 22px;
  fill: currentColor;
}

.client__title {
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .client__list {
    margin-bottom: 0;
  }
}

.client__item {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: var(--client-logo-color);
  border: 1px solid var(--client-border-color);
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: var(--overflow-bgc-color);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.card__link:hover .overlay,
.card__link:focus .overlay {
  transform: translateY(0);
}

.overlay__caption {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.content__button {
  display: inline-block;
  padding: 6px 22px;
  background-color: var(--button-bgc-color);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.content__button.curent {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.content__button:hover, .content__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.content__list {
  display: flex;
  justify-content: center;
  margin-left: -8px;
  margin-bottom: 50px;
}

.content__items {
  margin-left: 8px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.card__items {
  margin-right: var(--gap);
  margin-bottom: var(--gap);
  flex-basis: calc(100% / 3 - var(--gap));
}

.card__body {
  position: relative;
  overflow: hidden;
}

.card__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-block__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.card-block__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.card-block {
  padding: 20px 24px;
  border: 1px solid var(--content-border-color);
  border-top: 0;
}

.footer {
  background-color: var(--header-bgc-color);
  padding: 60px 0;
}

.footer--container {
  display: flex;
  align-items: baseline;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__contact {
  font-style: normal;
  color: var(--footer-contact-color);
  transition: color 250ms var(--timing-function);
  text-decoration: none;
}

.address__contact:hover, .address__contact:focus {
  color: var(--accent-color);
}

.address__destination {
  display: block;
  margin-bottom: 9px;
  color: var(--primary-white-color);
  line-height: 1.71;
  font-style: normal;
}

.join__container {
  margin-left: 70px;
}

.join__title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join__list {
  display: flex;
  margin-left: -10px;
}

.join__items {
  margin-left: 10px;
  flex-basis: calc((100% - 30px) / 4);
}

.join__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-background);
  color: var(--primary-white-color);
  transition-property: color, background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.join__link:hover, .join__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.join__icon {
  width: 22px;
  height: 22px;
  fill: currentColor;
}

.sign-up__container {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.sign-up__label {
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.sign-up__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-white-color);
}

.sign-up__box {
  display: flex;
  flex-direction: column;
}

.sign-up__form {
  display: flex;
  align-items: flex-end;
}

.button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  color: #ececec;
}

.button__sign-up {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.button__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition-property: bopacity, visibility;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--modal-title-color);
}

/*-------------------------------Modal Form ----------- */
.form__container {
  margin: 0;
  padding: 0;
}

.form__container :nth-child(4) {
  margin-bottom: 20px;
}

.form__box {
  width: 100%;
  margin-bottom: 10px;
}

.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__input:focus + .form__icon-svg {
  fill: var(--accent-color);
}

.form__label {
  display: block;
  padding-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--modal-text-color);
}

.form__comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.form__comment:focus {
  border-color: var(--accent-color);
}

.form__icon-box {
  position: relative;
  width: 100%;
  color: var(--modal-icon-input-color);
}

.form__icon-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

/**------------------------- Checkbox */
.form__checkbox {
  margin-bottom: 30px;
}

.form__policy-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form__input-policy {
  cursor: pointer;
}

.form__border-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--modal-checkbox-border-color);
  border-radius: 2px;
  margin-right: 8px;
  transition-property: background-color, border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.form__input-policy:focus + .form__policy-text .form__border-checkbox,
.form__input-policy:hover + .form__policy-text .form__border-checkbox {
  border-color: #2196f3;
}

.form__input-policy:checked + .form__policy-text .form__border-checkbox {
  background-color: var(--accent-color);
  border: none;
}

.form__icon-check {
  fill: transparent;
}

.form__input-policy:checked:focus + .form__policy-text .form__icon-check {
  fill: var(--primary-white-color);
}

.form__policy-link {
  color: var(--modal-policy-link);
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-skip-ink: none;
  margin-left: 3px;
}

.button-submit {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--modal-button-submit-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--timing-function);
}

.close:hover, .close:focus {
  color: var(--accent-color);
}

.close__button {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */