.client__title {
  margin-bottom: 50px;
}

.client__list {
  @include flex(flex, null, null, null, null);
  margin-left: -30px;
}
.client__item {
  margin-left: 30px;
  flex-basis: calc((100% - 150px) / 6);
}

.client__link {
  @include flex(flex, null, null, center, center);
  width: 170px;
  height: 92px;

  color: var(--client-logo-color);
  border: 1px solid var(--client-border-color);
  border-radius: 4px;

  @include transition( color, border-color, null, var(--time), var(--timing-function));

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.client__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
