.content-overlay-box {
  position: relative;
  overflow: hidden;
}

.content-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;

  background-color: var(--overflow-bgc-color);

  transform: translateY(+101%);
  transition: transform 250ms var(--timing-function);

  .content-link:hover &,
  .content-link:focus & {
    transform: translateY(0);
  }
}
.content-overlay-caption {
  color: #ffffff;

  font-size: 18px;
  line-height: 1.56;
}