.container-join {
  margin-left: 70px;
}

.join-title {
  font-weight: 700;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.join-list {
  display: flex;

    &.join-items + .join-items {
        margin-left: 10px;
    }
}
.join-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-background);
  color: var(--primary-white-color);
  transition: background-color 250ms var(--timing-function);

    .join-link:hover,
    .join-link:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    }
}

.icon-join {
  width: 22px;
  height: 22px;
  fill: currentColor;
}
