.features__list {
  @include flex(flex, null, null, space-between, null);
  margin-left: -30px;
}

.features__item {
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 4);
}
.features__caption {
  margin-bottom: 10px;
  @include font(Roboto, 14px, 700, 1.14, 0.03em, var(--title-text-color), uppercase, null);
}
.features__text {
  line-height: 1.71;
}
.features__box {
  @include flex(flex, null, null, center, center);
  margin-bottom: 30px;
  height: 120px;

  color: var(--features-icon-color);

  background-color: var(--features-icon-background);
}
.features__icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}
