.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;


  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--header-bgc-color);
}

.hero__title {
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto; 
}

.large {
  @include font(Roboto, 44px, 900, 1.36, 0.06em, var(--primary-white-color), uppercase, null);
}

.hero__button {
  @include list(inline-block, null, auto, null, auto, null, null);

  padding: 10px 32px;

  background-color: var(--accent-color);
  border-style: none;
  cursor: pointer;
  border-radius: 4px;
  @include font( Roboto, 16px, 700, 1.87, 0.06em, var(--primary-white-color), null, null);
}
