.section.team {
  background-color: var(--team-bgc-color);
}

.team__title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.team-box__caption {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}
.team-box__text {
  color: var(--primary-text-color);
  line-height: 1.87;
  margin-bottom: 16px;
}
.team__list {
  display: flex;

    & .team__item + .team__item {
        margin-left: 30px;
    }
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-box {
  background-color: var(--primary-white-color);
  padding: 30px 32px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.team-icon__list {
  display: flex;

    & .team-icon__item + .team-icon__item {
        margin-left: 10px;
    }
}

.team-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--team-icon-color);

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    border-radius 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        border-radius: 50%;
    }
}
.team-icon__icon {
  width: 22px;
  height: 22px;
  fill: currentColor;
}

