.team {
  background-color: var(--team-bgc-color);
  @include section(60px, 60px);

  @media screen and (min-width: $desktop) {
    @include section(94px, 94px);
  }
}

.team__title {
  margin-bottom: 30px;
  @media screen and (min-width:1200px) {
    margin-bottom: 50px;
  }
}

.team-box__caption {
  @include font(Roboto, 16px, 500, 1.87, 0.03em, var(--title-text-color), null, null);
}
.team-box__text {
  @include font(Roboto, 16px, 400, 1.87, 0.03em, var(--primary-text-color), null, null);
  margin-bottom: 16px;
}
.team__list {
  @media screen and (min-width:768px) {
    width: 768px;
    @include flex(flex, null, wrap, null, null);
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width:1200px) {
    width: 1200px;
    // @include flex(flex, null, null, null, null);
    margin-bottom: 0;
  }

}

.team__item {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
  @media screen and (max-width:767px) {
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width:768px) {
  flex-basis: calc(100% / 2 - 30px);
   margin-left: 30px;
   margin-bottom: 30px;
  }
  @media screen and (min-width:1200px) {
  flex-basis: calc(100% / 4 - 30px);
   margin-bottom: 0;
  }
}
.team__pictures{
  @media screen and (min-width:480px) {
    width: 450px;
    height: 460px;
  }
  @media screen and (min-width:768px) {
    width: 354px;
    height: 374px;
  }
  @media screen and (min-width:1200px) {
    width: 270px;
    height: 260px;
  }
}

.team-box {
  background-color: var(--primary-white-color);
  padding: 30px 32px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.team-icon__list {
  @include flex(flex, null, null, null, null);
  margin-left: -10px;
}

.team-icon__item {
  margin-left: 10px;
  flex-basis: calc((100% - 30px) / 4);
}

.team-icon__link {
  @include flex(flex, null, null, center, center);
  width: 44px;
  height: 44px;

  color: var(--team-icon-color);

  @include transition(color, background-color, border-radius, var(--time), var(--timing-function));

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-radius: 50%;
  }
}
.team-icon__icon {
  width: 22px;
  height: 22px;
  fill: currentColor;
}
