:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-bgc-color: #f5f4fa;
  --header-bgc-color: #2f303a;
  --team-bgc-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --content-border-color: #eeeeee;
  --features-icon-background: #f5f4fa;
  --features-icon-color: #212121;
  --footer-icon-background: #43444d;
  --team-icon-color: #afb1b8;
  --client-border-color: #afb1b8;
  --client-logo-color: #afb1b8;
  --logo-primary-color: #000000;
  --overflow-bgc-color: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --work-overlay-bgc-color: rgba(47, 48, 58, 0.8);
  --modal-title-color: #212121;
  --modal-icon-input-color: #212121;
  --modal-text-color: #757575;
  --modal-comment-placeholder: rgba(117, 117, 117, 0.5);
  --modal-policy-link: #2196f3;
  --modal-button-submit-color: #ffffff;
  --modal-checkbox-border-color: #212121;
  --main-font: Roboto, sans-serif;
  --second-font: Raleway, sans-serif;
  --gap: 30px;
}

li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  display: inline-block;
  padding-left: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
